<div id="map-canvas">
  <ui-gmap-google-map center="map.map.center" zoom="map.map.zoom" control="map.map.control" options="map.map.options">
    <ui-gmap-markers models="map.map.markers" coords="'location'" icon="'icon'"></ui-gmap-markers>
    <!-- <ui-gmap-marker coords="map.userLocation.location" options="map.userLocation.options" idkey="'id'" ng-if="map.userLocation"></ui-gmap-marker> -->
  </ui-gmap-google-map>
</div>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-8" id="left">

      <h2>Bootstrap Google Maps Demo</h2>

      <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" refresh-on-change="map.items">

      <!-- item list -->
      <ul class="list-unstyled">
        <li ng-repeat="item in map.items">
          <div class="panel panel-default">
            <div class="panel-heading"><a ng-href="{{iterm.detail_url}}">{{item.heading}}</a></div>
          </div>
          <p>
            {{item.description}}
          </p>
        </li>
      </ul>
      <!-- /item list -->
      </perfect-scrollbar>
    </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
  </div>
</div>
<div id="menu" data-drag="true" jqyoui-draggable ng-mouseover="map.dragme = true" ng-mouseout="map.dragme = false" data-jqyoui-options="map.draggableOptions">
  <span class="pull-right"><small style="color:grey" ng-show="map.dragme">drag me!</small></span> <br>
  <div class="text-center">It's time to start planning your travel.</div><br>
   <form role="form">
    <div class="form-group">
      <label for="start-city">City you are now:</label>
      <pre>Model: {{map.asyncSelected | json}}</pre>
      <input type="text" ng-model="map.asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address as address.description for address in map.map.autocomplete($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" id="start-city">
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
